// openassessment: views - base
// ====================

// NOTES:
// * The basic view and all of its states of the openassessment xblock

.wrapper--openassessment {
  position: relative;
}

.openassessment {
  @include direction();

  // --------------------
  // general: chrome
  // --------------------
  .openassessment__title {
    @include row();
    @extend %t-regular;
  }


  // --------------------
  // overall message
  // --------------------
  .openassessment__message {
    @include row();
    background: none;
    padding: 0;
  }

  // --------------------
  // overall actions
  // --------------------
  .list--actions {
    margin-bottom: ($baseline-v/2);
    @include text-align(center);

    @include media($bp-ds) {
      @include text-align(right);
    }

    @include media($bp-dm) {
      @include text-align(right);
    }

    @include media($bp-dl) {
      @include text-align(right);
    }

    @include media($bp-dx) {
      @include text-align(right);
    }

    // STATE: actions has an error
    &.has--error {

      .message {
        margin-bottom: $baseline-v;
        @include text-align(left);
      }
    }

    .action--submit {
      @extend %btn--primary;
      @extend %action-2;
      @include margin-left($baseline-v/2);
      margin-top: ($baseline-v/2);

      .copy,
      .icon {
        display: inline;
      }

      .icon {
        @extend %icon-2;
      }

      .fa-caret-right:before {
        @include transform(rotate(bidi-rotate-angle(0deg)));
      }
    }
  }

  // --------------------
  // steps
  // --------------------
  .openassessment__steps {
    @extend %no-list;
    counter-reset: item; // setting counter here
  }

  .openassessment__steps__step {
    @extend %ui-section;

    padding: 0 !important;
    border: none !important;
    transform: none !important;

    // step title
    .step__title {
      display: inline;
      margin-bottom: ($baseline-v/2);
      width: 100%;
      margin-bottom: 0;

      .step__counter,
      .wrapper--copy {
        display: inline-block;
        vertical-align: middle;
      }

      .wrapper--copy {
        @include margin-left(($baseline-h/2));
        @include border-left(1px solid $color-decorative-tertiary);
        @include padding-left(($baseline-h/2));

        @include media($bp-m) {
          @include margin-left(0);
          @include border-left(none);
          @include padding-left(0);
        }

        @include media($bp-ds) {
          @include margin-left(0);
          @include border-left(none);
          @include padding-left(0);
        }
      }

      .step__counter {
        display: none;

        // increment: show numbers using parent list counter
        &:before {
          @extend %hd-2;
          @extend %t-strong;
          display: none;
          content: counter(item, decimal);
          counter-increment: item;
          color: $copy-color;
        }

        @include media($bp-dm) {
          display: inline-block;


          &:before {
            display: inline;
          }
        }

        @include media($bp-dl) {
          display: inline-block;


          &:before {
            display: inline;
          }
        }

        @include media($bp-dx) {
          display: inline-block;


          &:before {
            display: inline;
          }
        }
      }

      .step__label,
      .step__deadline {
        display: block;
      }

      .step__label {
        @extend %t-superheading;
      }

      .step__deadline {
        @extend %hd-4;
        color: $heading-color;
        margin-left: 5px;
      }
    }

    // step status
    .step__status {
      display: inline;
      margin-top: ($baseline-v/4);

      @include media($bp-dm) {
        margin-top: 0;
        @include float(right);
        position: relative;
        top: -($baseline-v) - 12;
      }

      @include media($bp-dl) {
        margin-top: 0;
        @include float(right);
        position: relative;
        top: -($baseline-v) - 12;
      }

      @include media($bp-dx) {
        margin-top: 0;
        @include float(right);
        position: relative;
        top: -($baseline-v) - 12;
      }

      .step__status__value {
        border-radius: ($baseline-v/10);
        padding: ($baseline-v/4)-1 ($baseline-h/4);
        background: $color-decorative-tertiary;
        position: relative;

        @include media($bp-ds) {
          display: block;
        }

        @include media($bp-dm) {
          display: block;
        }

        @include media($bp-dl) {
          display: block;
        }

        @include media($bp-dx) {
          display: block;
        }
      }

      .icon {
        @extend %icon-3;
        display: inline-block;
        vertical-align: baseline;
        @include margin-right(($baseline-h/4));
      }

      .copy {
        @extend %t-score;
        color: $heading-color;
      }
    }

    // step content wrapper
    .wrapper--step__content {
      // margin-top: ($baseline-v/2);
      // padding-top: ($baseline-v/2);
      // border-top: 1px solid $color-decorative-tertiary;
    }

    // step message
    .step__message {
      @include row();
      margin-bottom: $baseline-v;
    }

    // step instructions
    .step__instruction {
      @extend %copy-2;
      margin-bottom: $baseline-v;
      color: $copy-color;
    }

    // step content
    .step__content {
      margin-bottom: $baseline-v;
    }

    .step__content__section {
      margin-bottom: ($baseline-v*2);

      &:last-child {
        @extend %wipe-last-child;
      }
    }

    // STATE: step is loading
    &.is--loading {

      .step__header {
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
      }

      .step__counter:before,
      .step__label,
      .step__deadline {
        color: $copy-color;
      }

      .step__status__value {
        background: $color-unavailable;

        .wrapper--anim {
          @include animation(pulse $tmg-s3 ease-in-out infinite);
        }

        .icon {
          display: inline-block;
          color: $copy-color;
        }

        .copy {
          color: $copy-color;
        }
      }
    }

    // STATE: step is incomplete
    &.is--incomplete {

      .step__counter:before {
        border-color: $color-incomplete;
        color: $copy-color;
      }

      .step__status__value {
        background: $color-incomplete;

        .copy,
        .icon {
          color: $copy-color;
        }
      }
    }

    // STATE: step is unavailable
    &.is--unavailable {

      .step__counter:before,
      .step__label,
      .step__deadline {
        color: $copy-color;
      }

      .step__status__value {
        background: $color-unavailable;

        .icon {
          display: inline-block;
          color: $copy-color;
        }

        .copy {
          color: $copy-color;
        }
      }
    }

    // STATE: step is unavailable
    &.is--waiting {

      .step__counter:before,
      .step__label,
      .step__deadline {
        color: $copy-color;
      }

      .step__status__value {
        background: $color-unavailable;

        .icon {
          display: inline-block;
          color: $copy-color;
        }

        .copy {
          color: $copy-color;
        }
      }

      .step__title .grade__value__title {
        color: $color-unavailable;
      }

      .step__instruction,
      .grade__value__description {
        color: $copy-color;
      }
    }

    // STATE: step is complete/submitted/graded
    &.is--complete {

      .step__counter:before {
        color: $color-complete;
      }

      .step__status__value {
        background: $color-complete;

        .icon {
          display: inline-block;
        }

        .copy,
        .icon {
          color: $copy-inverse-color;
        }
      }

      button {
        opacity: 1;
      }
    }

    // STATE: in-progress
    &.is--in-progress {

      .step__counter:before {
        color: $action-primary-color;
      }

      .step__status__value {
        background: $action-primary-color;

        .icon {
          display: inline-block;
        }

        .copy,
        .icon {
          color: $copy-inverse-color;
        }
      }

      button {
        opacity: 1;
      }
    }

    // STATE: has error
    &.has--error {

      .step__counter:before {
        border-color: rgba($color-error, 0.5);
        color: $color-error;
      }

      .step__status__value {
        background: $color-error;

        .copy,
        .icon {
          color: $copy-inverse-color;
        }
      }

      .step__label {
        color: $color-error;
      }
    }
  }


  // --------------------
  // ui-slidable
  // --------------------
  .ui-slidable__container {
    .ui-slidable__content {
      width: 100%;
    }

    // If there is an icon, it should rotate when clicked
    @include transition(color $tmg-f2 ease-in);

    .icon {
      @include transition(all $tmg-f2 ease-in-out 0s);
      @include transform(rotate(bidi-rotate-angle(0deg)));
    }

    &.is--initially--collapsed {
      .ui-slidable__content {
        display: none;
      }
    }

    &.is--showing {
      .ui-slidable .icon {
        @include transform(rotate(bidi-rotate-angle(90deg)));
        @include transform-origin(50% 50%);
      }

      .ui-slidable__container {
        &:not(.is--showing) {
          .icon {
            @include transition(all $tmg-f2 ease-in-out 0s);
            @include transform(rotate(bidi-rotate-angle(0deg)));
          }
        }
      }
    }

    .ui-slidable {
      // Override default button styling.
      @extend %btn-reset;
      background: none;
      border-radius: ($baseline-v/4);
      padding: 5px;

      &:active,
      &:focus:not(:disabled),
      &:hover:not(:disabled) {
        background: none;
        border: none;
        box-shadow: none;
      }

      &:not([disabled]) {
        color: $action-primary-color;

        &:hover,
        &:focus {
          color: $action-primary-color-focus;
        }
      }

      .wrapper--copy {
        text-align: left;
      }
    }
  }

  // --------------------
  // submission
  // --------------------

  .submission__answer__part__prompt {
    @extend %ui-well;
    position: relative;
    margin: ($baseline-v/2) 0;
    border: 1px solid $color-decorative-tertiary;
    @include border-left(($baseline-h/4) solid $color-decorative-secondary);
    @include padding-left(($baseline-h*0.75));
  }

  .submission__answer__part__prompt__title {
    @extend %text-sr;
  }

  .submission__answer__part__prompt__copy {
    @extend %copy-2;
    color: $copy-color;

    >* {
      margin-bottom: $baseline-v;

      &:last-child {
        @extend %wipe-last-child;
      }
    }

    a {
      @extend %link-copy;
    }
  }

  .submission__answer__part__text__title {
    @extend %t-heading;
  }

  .submission__answer__part__text__value {
    margin: ($baseline-v/2) 0;
    border-color: $gray-d7;

    &:not(textarea) {
      border: 1px solid $color-decorative-secondary;
      background-color: $white;
      padding: $baseline-v;
    }
  }

  .submission__upload__files__title,
  .submission__answer__part__tip__title {
    @extend %t-heading;
  }

  .submission__file__description__label {
    margin-bottom: 5px;
  }

  .submission__answer__file__block {
    margin: 0;
    padding: 0 !important;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #submission-in-review .submission__answer__file__block {
    background: transparent !important;
    padding: 0 !important;
  }



  .submission__img__preview {
    float: left;
    margin-right: 10px;
  }

  // --------------------
  // response
  // --------------------
  .step--response {

    // response form
    .response__submission {
      padding: ($baseline-v/2) ($baseline-h/4);
      background: $color-decorative-quaternary;
      border-radius: ($baseline-v/10);
    }

    .response__submission__content {
      @extend %action-items;

      label {
        @extend %text-sr;
      }

      .submission__answer__part__text {
        textarea {
          @extend %ui-content-longanswer;
          min-height: ($baseline-v*10);
        }
      }

      .submission__file__description {
        textarea {
          @extend %ui-content-longanswer;
          min-height: ($baseline-v*4);
          width: 70%;
        }
      }

      .submission__team__answer__display__file {
        margin-bottom: ($baseline-v/2);
      }

      .tip {
        @extend %t-score;
        padding: ($baseline-v/4) ($baseline-h/4);
        background: $color-decorative-secondary;
        color: $copy-inverse-color;
      }
    }

    .response__submission__actions {
      @extend %action-items
    }
  }


  // --------------------
  // peer assessment
  // --------------------
  .step--peer-assessment {

    .list--peer-assessments {
      @extend %no-list;
    }

    // peer submission
    .peer-assessment__display {
      @extend %ui-subsection;
    }

    .peer-assessment__display__header {
      @include clearfix();

      span {
        @extend %t-strong; // FIX: needed due to DOM structure
      }

      .peer-assessment__display__title {
        @extend %t-heading;
        margin-bottom: ($baseline-v/2);
        color: $heading-color;
      }
    }

    .peer-assessment__display__response {
      @extend %ui-subsection-content;
      @extend %copy-3;
      @extend %ui-content-longanswer;
      @extend %ui-well;
      color: $copy-color;
    }

    // assessment form
    .peer-assessment__assessment {
      @extend %action-items;

      // fields
      .assessment__fields {
        margin-bottom: $baseline-v;
      }

      // rubric question
      .assessment__rubric__question {
        @extend %ui-rubric-question;
      }

      // rubric options
      .question__answers {
        @extend %ui-rubric-answers;
      }

      // genereal feedback question
      .assessment__rubric__question--feedback {

        .wrapper--input {
          margin-top: $baseline-v;
        }

        .question__title__copy {
          @include margin-left(0);
          white-space: pre-wrap;
        }

        textarea {
          @extend %ui-content-longanswer;
          min-height: ($baseline-v*5);
        }
      }
    }
  }


  // --------------------
  // self assessment
  // --------------------
  .step--self-assessment {

    // submission
    .self-assessment__display {
      @extend %ui-subsection;
    }

    .self-assessment__display__header {
      @include clearfix();
    }

    .self-assessment__display__title {
      @extend %t-heading;
      margin-bottom: ($baseline-v/2);
      color: $heading-color;
    }

    .self-assessment__display__response {
      @extend %ui-subsection-content;
      @extend %copy-3;
      @extend %ui-content-longanswer;
      @extend %ui-well;
      color: $copy-color;
    }

    // assessment form
    .self-assessment__assessment {
      @extend %action-items;

      // fields
      .assessment__fields {
        margin-bottom: $baseline-v;
      }

      // rubric question
      .assessment__rubric__question {
        @extend %ui-rubric-question;
      }

      // rubric options
      .question__answers {
        @extend %ui-rubric-answers;
        overflow: visible; // needed for ui-hints
      }

      // genereal feedback question
      .assessment__rubric__question--feedback {

        .wrapper--input {
          margin-top: $baseline-v;
        }

        .question__title__copy {
          @include margin-left(0);
          white-space: pre-wrap;
        }

        textarea {
          @extend %ui-content-longanswer;
          min-height: ($baseline-v*5);
        }
      }
    }
  }


  // --------------------
  // grade status
  // --------------------
  // TODO: clean this up - need to make sure counter doens't show when loading or in other states
  .step--grade {

    .step__title {
      @include media($bp-m) {
        @include bidi-span-columns(4 of 4);
      }

      @include media($bp-ds) {
        @include bidi-span-columns(6 of 6);
      }

      @include media($bp-dm) {
        @include bidi-span-columns(12 of 12);
      }

      @include media($bp-dl) {
        @include bidi-span-columns(12 of 12);
      }

      @include media($bp-dx) {
        @include bidi-span-columns(12 of 12);
      }

      .step__counter,
      .step__counter:before {
        display: none;
      }

      .wrapper--copy {
        @include margin-left(0);
        @include border-left(none);
        @include padding-left(0);
      }

      .step__label,
      .grade__value {
        display: inline;
        vertical-align: middle;
      }

      .step__label {
        @include margin-right(($baseline-h/4));
      }

      .grade__value__title {
        @extend %t-superheading;

        .grade__value__earned {
          @extend %t-strong;
        }

        .grade__value__potential {
          @extend %t-strong;
        }
      }
    }

    .grade__value__description {
      @extend %copy-2;
      margin-bottom: $baseline-v;
      color: $copy-color;
    }

    .grade__summary {
      @extend %copy-2;
    }
  }


  // --------------------
  // UI: submitted response
  // --------------------
  .submission__answer__display__title {
    @extend %t-heading;
    margin-bottom: ($baseline-v/2);
    color: $heading-color;
  }

  .submission__answer__display__content {
    @extend %copy-3;
    @extend %ui-subsection-content;

    padding: ($baseline-v/2) ($baseline-h/4) $baseline-v (
      $baseline-h/4
    );
  border-radius: ($baseline-v/10);
  list-style: none;

  .submission__answer__part {
    margin: ($baseline-v*1.5) 0px 0px;

    &:first-child {
      margin-top: 0px;
    }
  }
}


// --------------------
// UI: displayed peer assessments
// --------------------

// peer review summary
.submission__peer-evaluations {
  @extend %ui-subsection;
}

.submission__peer-evaluations__title {
  @extend %t-heading;
  margin-bottom: ($baseline-v/2);
  color: $heading-color;
}

// rubric questions
.submission__peer-evaluations__questions {
  @extend %no-list;
  @extend %ui-subsection-content;
  margin-bottom: ($baseline-v/2);

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }

  // individual question
  .question {
    margin-bottom: ($baseline-v*1.5);
    @extend %wipe-last-child;
  }

  .question__title {
    @include clearfix();
    margin-bottom: $baseline-v;
    border-bottom: ($baseline-v/10) solid $heading-color;
    padding-bottom: ($baseline-v/4);

    .icon {
      @extend %icon-1;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .question__title__copy {
    @extend %t-heading;
    @include margin-left(($baseline-h/4));
    white-space: pre-wrap;
  }

  .question__score {
    @extend %t-score;
    @include float(right);
    @include margin-left($baseline-v);
  }

  .question__score__value {
    @extend %t-strong;
    color: $heading-color;

    &:after {
      content: "/";
      @include margin-left(($baseline-v/4));
      color: $heading-color;
    }
  }

  .question__score__potential {
    @extend %t-strong;
    color: $heading-color;

    .unit {
      @extend %t-strong;
      @include margin-left(($baseline-v/4));
    }
  }

  .question__answers {
    @extend %no-list;
    @extend %wipe-last-child;
    @include row();
    overflow: visible; // needed for ui-hints
  }

  // individual answers
  .answer {
    margin-bottom: $baseline-v;
    @extend %no-list;

    // CASE: self assessment
    &.self-assessment {
      @include border-left(($baseline-h/8) solid $color-decorative-quaternary);
      @include padding-left(($baseline-h/2));

      .answer__source {
        color: $color-decorative-tertiary;
      }
    }
  }

  .answer__source {
    @extend %hd-5;
    @extend %t-strong;
    @extend %t-titlecase;
    display: block;
    color: $heading-color;

    .answer__source__value-with-points {
      @extend %t-score;
      color: $heading-color;
    }
  }

  .answer__value {
    display: block;
    margin-bottom: ($baseline-v/2);
    color: $heading-color;

    .answer__value__raw {
      white-space: pre-wrap;
    }
  }

  .answer__value__value {
    @extend %hd-2;
    @extend %t-strong;
    color: $heading-color;

    .ui-hint {
      @extend %trans-color;
      color: $color-decorative-tertiary;

      // STATE: hover - needed to reset color to what's expected from _navigation.scss (TODO: clean up specificity)
      &:hover,
      &:focus {
        color: $action-primary-color-focus;
      }
    }
  }

  .answer__score,
  .answer__score__value {
    @extend %t-score;
    display: block;
    color: $heading-color;
  }
}

// criterion-based feedback
.answer--feedback {

  @include media($bp-ds) {
    @include bidi-span-columns(6 of 6);
  }

  @include media($bp-dm) {
    @include bidi-span-columns(12 of 12);
  }

  @include media($bp-dl) {
    @include bidi-span-columns(12 of 12);
  }

  @include media($bp-dx) {
    @include bidi-span-columns(12 of 12);
  }

  .answer--feedback__title {
    @extend %action-2;
  }

  .answer--feedback__title__copy {
    @include margin-left(($baseline-h/4));
  }

  .answer--feedback__content {
    margin-top: ($baseline-v/4);
  }

  .action--save {
    @extend %action-button !optional
  }

  .feedback {
    @extend %no-list;
    @extend %wipe-last-child;
    margin-bottom: $baseline-v;
  }

  .feedback__source {
    @extend %hd-5;
    @extend %t-strong;
    @extend %t-titlecase;
    display: block;
    color: $heading-color;
  }

  .feedback__value {
    @extend %copy-3;
    display: block;

    .feedback__value__raw {
      white-space: pre-wrap;
    }

  }
}


// overall feedback form
.submission__feedback {
  @extend %ui-subsection;
}

.submission__feedback__title {
  @extend %ui-subsection-title;
  @extend %t-heading;
  border-bottom-color: solid $heading-color;
  color: $heading-color;

  .icon {
    @extend %icon-1;
    display: inline-block;
    vertical-align: middle;
  }
}

.submission__feedback__title__copy {
  @extend %t-heading;
  @include margin-left(($baseline-h/4));
}

.submission__feedback__content {
  @extend %ui-subsection-content;
  margin-bottom: $baseline-v;
}

.submission__feedback__instructions {
  @extend %copy-2;
  margin-bottom: $baseline-v;
  color: $copy-color;
}

.submission__feedback__elements {
  padding: $baseline-v (
    $baseline-h/2) $baseline-v (
    $baseline-h/2
  );
background: $color-decorative-quaternary;
border-radius: ($baseline-v/10);
}

.submission__feedback__fields {
  margin-bottom: $baseline-v;

  .field {
    margin-bottom: ($baseline-v*1.5);

    &:last-child {
      margin-bottom: 0;
    }
  }

  select {
    display: block;
  }

  textarea {
    @extend %ui-content-longanswer;
    min-height: ($baseline-v*10);
  }
}

.submission__feedback__actions {
  @extend %ui-subsection-content;
  padding-top: 0;

  .list--actions {
    padding: 0;
  }
}

.action--submit {
  @extend %btn--secondary;
  @extend %action-2;
  @include margin-right(($baseline-v/2));
}
}


////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////// funixora2 ///////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
button.file__upload {
  padding: 0px 20px !important;
  border: none !important;
  border-radius: 0 !important;
  background: #6094db !important;
  color: white !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  cursor: pointer;
}


button.file__upload svg {
  width: 18px !important;
}

#oa-choose-file-btn-label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  border: 1px solid #6995d9;
  background: #f9fbfd;
  width: 100% !important;
  height: 40px !important;
  position: static !important;
  cursor: pointer;
}

#oa-choose-file-btn {
  font-weight: 400;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  background: #6094db;
  color: white;
  outline: none;
  border: none;
  box-shadow: none;
  height: 100%;
}

#choose-file-btn:hover {
  background: rgb(0, 117, 180);
  color: white;
}

#oa-chosen-file-name {
  font-size: 15px;
}

.disabled {
  opacity: 0.6 !important;
  pointer-events: none !important;
}


.submission__file__description input {
  height: 40px;
  display: block;
  background: #f9fbfd;
  width: 100%;
  border: 1px solid #6995d9 !important;
  padding: 0;
  padding: 0 10px;
}


#submission-in-review p {
  border-left: 10px solid #222222;
  border-right: 1px solid #222222;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
}

.message.message--error.message--error-server.message--inline {
  margin: 0;
}

.list--actions__item {
  display: flex !important;
}

.ui-dialog.ui-widget.ui-widget-content {
  z-index: 99999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 20px;
  background: #fff;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar.ui-widget-header {
  border: none;
  font-size: 5px 0 20px 0;
  padding: 20px 0;
  pointer-event: none;
}

.ui-dialog.ui-widget.ui-widget-content .dialog-confirm {
  border: none;
  padding: 0 0 20px 0;
  line-height: 1.4;
  font-size: 16px;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonpane {
  border: none;
  padding: 10px 0 0 0;
  margin: 0;
  border-top: 0.5px solid #e5e5e5;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonpane button {
  font-size: 16px !important;
  border-radius: 4px;
  box-shadow: none !important;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonpane button:active {
  box-shadow: none !important;
}

.ui-dialog-buttonset button:first-of-type {
  border: none !important;
  background: #214e7b !important;
  box-shadow: none !important;
  text-shadow: none !important;
  color: white !important;
  margin-right: 20px;
}

.ui-dialog-buttonset button:first-of-type:hover {
  background: #315e8b !important;
}


.file__description,
.submission__answer__part__text__value {
  overflow: auto !important;
  border: 0.5px solid #23419f !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.file__description::-webkit-scrollbar,
.submission__answer__part__text__value::-webkit-scrollbar {
  width: 8px;
}

.file__description::-webkit-scrollbar-track,
.submission__answer__part__text__value::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.file__description::-webkit-scrollbar-thumb,
.submission__answer__part__text__value::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 999px;
  cursor: pointer;
}

.file__description::-webkit-scrollbar-thumb:hover,
.submission__answer__part__text__value::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

.file__description:focus,
.file__description:focus-visible,
.submission__answer__part__text__value:focus,
.submission__answer__part__text__value:focus-visible {
  border-radius: 0;
  outline: none;
  box-shadow: none !important;
  border: 2px solid #0075b4 !important;
}

button.action.action--submit.step--response__submit {
  margin: 0 !important;
}

ul.list.list--actions {
  border-top: 0.5px solid #e5e5e5;
  margin: 10px !important;
  padding: 10px 0;
}

.download-url-normal {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.download-url-normal svg {
  width: 20px;
  color: green;
}

.download-url-inreview {
  display: none;
}

#submission-in-review .submission__answer__file__block .download-url-normal {
  display: none;
}

#submission-in-review .submission__answer__file__block .download-url-inreview {
  width: 220px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(32, 21, 255);
  border: 1px solid rgb(32, 21, 255);
  cursor: pointer;
  border-radius: 4px;
  background: transparent;
  transition: .2s;
}

#submission-in-review .submission__answer__file__block .download-url-inreview:hover {
  background: rgb(23, 26, 83);
  border-color: #fff;
  color: #fff;
}



#submission-in-review .submission__answer__file__block .submission__answer__file {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 4px;

  &:hover {
    text-decoration: none;
  }
}

.ui-widget-overlay.ui-front {
  position: fixed !important;
  background: transparent !important;
  background-image: none !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 0 !important;
  bottom: 0 !important;
}

// accordion graded rubric 
.question__title.ui-slidable__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dfdfdf !important;
  border-bottom: none !important;
  margin: 0 !important;
  padding: 0 15px !important;
  cursor: pointer;
}

.question__title.ui-slidable__control::before,
.question__title.ui-slidable__control::after {
  display: none !important;
}

.question__title.ui-slidable__control span {
  color: #4d4d4d !important;
}

.question.ui-slidable__container {
  margin: 0 !important;
}

// first loading 
#unique-loading {
  display: none;
}

.openassessment__steps__step.is--loading~#unique-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.openassessment__steps__step.is--loading * {
  display: none;
}

// spinner 
.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


#submission-results-title {
  font-size: 16px;
  padding: 0 0 20px 0;
}

#submission-status-title {
  border-bottom: 1px solid #38c738 !important;
}

//////////////////////////////////
//////////////////////////////////
/////// 13 Oct 2023 //////////////
//////////////////////////////////
//////////////////////////////////

#assignment-header {
  padding: 0 0 40px 0;
}

#assignment-title {
  margin: 0 0 16px 0;
  font-size: 32px;
  color: #0b0b0b;
}

#submission-results-title {
  font-size: 28px;
  color: #0b0b0b;
  padding: 0px !important;
  margin-bottom: 16px;
}

#submission-date {
  font-size: 16px;
  color: #0b0b0b;
  padding: 0;
  margin: 0 0 8px 0;
}

#submission-state {
  margin: 0 0 40px 0;
  height: 56px;
  width: 100%;
  max-width: 1100px;
  border: 1px solid rgb(128, 128, 128);
  box-shadow: 0px 1px 2px 0px #0B0B0B0F, 0px 1px 3px 0px #0B0B0B1A;
  border-radius: 4px;
  display: flex;
}

#submission-state p:first-child {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#submission-state.submission-did-not-pass p:first-child {
  background-color: #d0322a;
}

#submission-state.submission-passed p:first-child {
  background-color: #34835d;
}

#submission-state.submission-in-review p:first-child {
  background-color: #142580;
}

#submission-state p:first-child svg {
  width: 25px;
  color: white;
  margin: 0;
}

#submission-state p:last-child {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
  color: #0b0b0b;
  margin: 0;
}