{% load tz %}
{% load i18n %}
{% spaceless %}

  {% block list_item %}
    <li style="padding: 0; border: none; box-shadow: none;" class="openassessment__steps__step step--response is--in-progress is--showing" tabindex="-1">
  {% endblock %}
    {% block body %}
    <div class="ui-slidable__content" aria-labelledby="oa_response_{{ xblock_id }}" id="oa_response_{{ xblock_id }}_content">
        <div class="wrapper--step__content">
          
        
            <div class="step__content" data-base-asset-url="{{ base_asset_url }}">
                <form id="upload-file-form" style="background: transparent;" class="response__submission" >
                    <ol class="list list--fields response__submission__content">
                        {% for part in saved_response.answer.parts %}
                            <li class="submission__answer__part">
                             
                                {% if text_response %}
                                <div class="field field--textarea submission__answer__part__text">
                                    <div class="submission__answer__part__text">
                                        <h5 id="submission__answer__part__text__title__{{ forloop.counter }}__{{ xblock_id }}"
                                            class="submission__answer__part__text__title"
                                            style="font-size: 16px;"
                                            >
                                          {% if team_name %}
                                            {% trans "Team Response " %}
                                          {% else %}
                                            {% trans "Submission Details" %}
                                          {% endif %}

                                          {% if text_response == "required" %}
                                            {% trans "(Required)" %}
                                          {% elif text_response == "optional" %}
                                            {% trans "(Optional)" %}
                                          {% endif %}
                                        </h5>
                                    </div>
                                    <span style="font-size: 16px;">{% trans "Are there any areas you would like your reviewer to pay particular attention to?" %}</span>

                                    <textarea
                                        id="submission__answer__part__text__{{ forloop.counter }}__{{ xblock_id }}"
                                        class="submission__answer__part__text__value"
                                        data-preview="submission__{{ forloop.counter }}"
                                        aria-labelledby="submission__answer__part__text__title__{{ forloop.counter }}__{{ xblock_id }}"
                                        maxlength="100000"
                                    >{{ part.text }}</textarea>
                                </div>
                                {% with forloop.counter|stringformat:"s" as submission_num %}
                                    {% include "openassessmentblock/oa_latex_preview.html" with id="submission__"|add:xblock_id|add:submission_num elem="div" preview_name="submission__"|add:submission_num %}
                                {% endwith %}
                                {% endif %}
                            </li>
                        {% endfor %}

                        {% if has_real_user %}
                      
                          {% if text_response %}
                          <li class="field">
                              <div class="response__submission__actions">
                                  <div class="message message--inline message--error message--error-server" tabindex="-1">
                                      <h5 class="message__title">{% trans "We could not save your progress" %}</h5>
                                      <div class="message__content"></div>
                                  </div>
                              </div>
                          </li>
                          {% endif %}

                            <hr/>
                          
                          {% if file_upload_type %}
                            <li class="field">
                                <div class="delete__error">
                                    <div class="message message--inline message--error message--error-server" tabindex="-1">
                                        <h5 class="message__title">{% trans "We could not delete files" %}</h5>
                                        <div class="message__content"></div>
                                    </div>
                                </div> 



                                <div class="oa-choose-file-container">
                                  <p style="padding-bottom: 5px; margin: 0; font-weight: 500; font-size: 16px;" class="submission__upload__files__title">
                                    {% trans "File upload " %} {% trans "(required)" %}
                                  </p>
  
                                  <label id="oa-choose-file-btn-label">
                                    <span id="oa-choose-file-btn">
                                      {% trans "Browse" %}
                                    </span>  
                                    <span id="oa-chosen-file-name">{% trans "No file chosen" %}</span>
                                    <input style="width: 0; height: 0; overflow: hidden; display: block;" type="file" class="submission__answer__upload file--upload" id="submission_answer_upload_{{ xblock_id }}" {% if allow_multiple_files %}multiple=""{% endif %} accept="{{white_listed_file_types|join:", "}}">
                                  </label> 
                                </div>

                                <div id="oa-upload-file-btn-container">
                                  <button style="float: none;" type="submit" class="file__upload action action--upload disabled">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                                    </svg>

                                    {% if allow_multiple_files %}
                                        {% trans "Upload files" %}
                                    {% else %}
                                        {% trans "Upload file" %}
                                    {% endif %}
                                  </button>
                                </div>
                            </li>
                          {% endif %}

                          <li class="field">
                            {% include "openassessmentblock/oa_uploaded_file.html" with file_upload_type=file_upload_type file_urls=file_urls class_prefix="submission__answer" including_template="response" xblock_id=xblock_id %}
                          </li>

                          {% if file_upload_type %}
                          <div style="margin-top: 30px;" class="upload__error">
                            <div class="message message--inline message--error message--error-server" tabindex="-1">
                                <h5 class="message__title">{% trans "We could not upload files" %}</h5>
                                <div class="message__content"></div>
                            </div>
                          </div>
                          <div class="delete__error">
                              <div class="message message--inline message--error message--error-server" tabindex="-1">
                                  <h5 class="message__title">{% trans "We could not delete files" %}</h5>
                                  <div class="message__content"></div>
                              </div>
                          </div>
                          {% endif %}
                          {% comment %}                           
                          <li class="field">
                            {% include "openassessmentblock/oa_team_uploaded_files.html" with file_upload_type=file_upload_type team_file_urls=team_file_urls class_prefix="submission__team__answer" including_template="response" xblock_id=xblock_id %}
                          </li> {% endcomment %}
                      </ol>
                  </form>
              </div>


              <div class="step__actions" >
                <div class="message message--inline message--error message--error-server" tabindex="-1">
                    <h5 class="message__title">{% trans "We could not submit your response" %}</h5>
                    <div class="message__content"></div>
                </div>

                <ul class="list list--actions">
                    <li style="border: none;" class="list--actions__item">
                        <button type="submit" class="action action--submit step--response__submit disabled"
                                text_response="{{text_response}}"
                                file_upload_response="{{file_upload_response}}"
                                >
                            {% trans "Submit" %}
                        </button>
                    </li>
                </ul>
            </div>



            <div class="step--response__dialog-confirm dialog-confirm">
              <p class="dialog-text"></p>
            </div>
          {% endif %}
        </div>
    </div>
    {% endblock %}
  </li>
{% endspaceless %}

